.metadata
collector/collector-properties.json
collector/!**/src/test/**

### STS ###
collector/.apt_generated
collector/.classpath
collector/.factorypath
collector/.project
collector/.settings
collector/.springBeans
collector/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# Compiled class file
collector/*.class

# Log file
collector/*.log

# BlueJ files
collector/*.ctxt

# Mobile Tools for Java (J2ME)
collector/.mtj.tmp/

# Package Files #
collector/*.jar
collector/*.war
collector/*.nar
collector/*.ear
collector/*.zip
collector/*.tar.gz
collector/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Scala
consumer/*.class
consumer/*.log

# sbt specific
consumer/.cache/
consumer/.history/
consumer/.lib/
consumer/dist/*
consumer/target/
consumer/lib_managed/
consumer/src_managed/
consumer/project/boot/
consumer/project/plugins/project/

spark-warehouse/
metastore_db/
# Scala-IDE specific
consumer/.scala_dependencies
consumer/.worksheet
consumer/.idea
